#container{
    display: grid;
    height: 100vh;

    grid-template-rows: 1fr 12fr 1fr;
}

#top_bar{
    background-color: #2f3640;
    display: grid;
    grid-template-columns: 1fr repeat(4,2fr);
}

#mid{
    background-color: #353b48;
    display: grid;
}
#bottom_bar{
    background-color: #1e272e;
    display: grid;
}

#title{
    color: #e84118;
    font-size: 3vh;
    padding-left: 10px;
    display: grid;
    align-content: end;
}
#shows{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.show{
    align-self: center;
    justify-self: center;
    width: 35vh;
    height: 37vh;
    border-radius: 5px;
    overflow: auto;
    background-color: #424952;
    box-shadow: 2px 2px 8px black;
}
.show:hover{
    box-shadow: 2px 2px 8px #c23616;
}

.images{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 40%;
    width: 100%;
}

.summary{
    padding-left: 5px;
    font-size: 2vh;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ced6e0;
}
.titles{
    display: grid;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 3.5vh;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

#credit{
    justify-self: end;
    align-self: center;
    padding-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vh;
    color: #7f8fa6;
}

#logo{
    color: #e84118;
    font-size: 5vh;
    display: grid;
    justify-content: center;
    align-content: center;
    border-right: 2px solid #a4b0be;
    border-bottom: 2px solid #a4b0be;

}

.top_tabs{
    display: grid;
    justify-content: center;
    align-content: center; 
    color: #f5f6fa;
    border-right: 2px solid #a4b0be;
    border-bottom: 2px solid #a4b0be;

}
.top_tabs:hover{
    color: #e84118;
    background-color: #353b48;
    border-bottom: 2px solid #353b48;

}
#top_six{
    color: #e84118;
    background-color: #353b48;
    border-bottom: 2px solid #353b48;

}